$purple: #6C3E73;
$purple-light: #744762;
$blue:#33C1B3;
body {
	font-family: 'Open Sans', sans-serif;
}
#navbar {
	background-color: $purple;
}

#hero-section {
	background-image: url("../assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 70%;
	width: 100%;
	height: 80vh;
	color: white;

	.hero-box {
		background-color: rgb(113,68,92, 0.8);
		padding: 20px;
		max-width: 700px;
		button {
			margin-top: 20px;
			margin-bottom: 50px !important;
			background-color: $blue;
			color: white;
		}
		img {
			background-color: rgb(113,68,92, 0.8);
			padding: 20px;
			border-radius: 45px;
		}
	}

}

#mentor-analyst {
	margin-top: 70px;
	max-width: 1000px;
	margin: 70px auto auto auto;
	.head {
		font-weight: 700;
	}
	.analyst-result {
		color: #5791B8;
	}
	.desc {
		font-weight: 600;
		font-size: 1.5rem;

		p {
			margin: 0;
		}
	}
}

#form {
	margin-top: 100px;

	.dropdown {
		margin: 0.5rem 0;
		button {
			background-color: lightgrey;
			width: 100%;
			border: none;
			text-align: left;
			position: relative;

			&:after {
				color: black;
				position: absolute;
				right: 20px;
				bottom: 45%;
			}
		}
	}
	.btn-submit {
		background-color: $blue;
		color: white;
		border: none;
		margin-bottom: 50px;
	}
}